[submodule "ide/libs/sdl"]
	path = ide/libs/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "ide/libs/imgui"]
	path = ide/libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ide/libs/glew"]
	path = ide/libs/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "ide/libs/nativefiledialog-protobyter"]
	path = ide/libs/nativefiledialog-protobyter
	url = https://github.com/ProtoByter/nativefiledialog-cmake
